<header>
    <nav class="NavMenu">
        <a href="../../Inicio/Vista/vtaInicio.php">Inicio</a>
        <a href="../../CasosdeExito/Vista/vtaCasosExito.php">Casos de Éxito</a>
        <a href="../../Recuerdos/Vista/vtaRecuerdos.php">Recuerdos</a>
        <a href="../../Noticias/Vista/vtaNews.php">Noticias</a>
        <a href="../../Eventos/Vista/vtaEventos.php">Eventos</a>
        <a href="../../CategoriaBeneficios/Vista/vtaCategoriaBeneficios.php">Categoría Benéficios</a>
        <a href="../../Beneficios/Vista/vtaBeneficios.php">Beneficios</a>
        <a href="../../BolsaUniversitaria/Vista/vtaBolsaUni.php">Bolsa Universitaria</a>
        <a href="../../Comentarios/Vista/vtaComentarios.php">Comentarios</a>
        <a href="../../Inicio/Vista/vtaCerrarSesion.php">Cerrar Sesión</a>
    </nav>
</header>
